In [1]:
import numpy as np
import pandas as pd
import nltk

In [5]:
#corps
paragraph = """I have three visions for India. In 3000 years of our history, people from all over 
               the world have come and invaded us, captured our lands, conquered our minds. 
               From Alexander onwards, the Greeks, the Turks, the Moguls, the Portuguese, the British,
               the French, the Dutch, all of them came and looted us, took over what was ours. 
               Yet we have not done this to any other nation. We have not conquered anyone. 
               We have not grabbed their land, their culture, 
               their history and tried to enforce our way of life on them. 
               Why? Because we respect the freedom of others.That is why my 
               first vision is that of freedom. I believe that India got its first vision of 
               this in 1857, when we started the War of Independence. It is this freedom that
               we must protect and nurture and build on. If we are not free, no one will respect us.
               My second vision for India’s development. For fifty years we have been a developing nation.
               It is time we see ourselves as a developed nation. We are among the top 5 nations of the world
               in terms of GDP. We have a 10 percent growth rate in most areas. Our poverty levels are falling.
               Our achievements are being globally recognised today. Yet we lack the self-confidence to
               see ourselves as a developed nation, self-reliant and self-assured. Isn’t this incorrect?
               I have a third vision. India must stand up to the world. Because I believe that unless India 
               stands up to the world, no one will respect us. Only strength respects strength. We must be 
               strong not only as a military power but also as an economic power. Both must go hand-in-hand. 
               My good fortune was to have worked with three great minds. Dr. Vikram Sarabhai of the Dept. of 
               space, Professor Satish Dhawan, who succeeded him and Dr. Brahm Prakash, father of nuclear material.
               I was lucky to have worked with all three of them closely and consider this the great opportunity of my life. 
               I see four milestones in my career"""

In [11]:
#Tokenizing sentence
sentences = nltk.sent_tokenize(paragraph)
pd.DataFrame(sentences)[:5]

                                                   0
0                    I have three visions for India.
1  In 3000 years of our history, people from all ...
2  From Alexander onwards, the Greeks, the Turks,...
3     Yet we have not done this to any other nation.
4                      We have not conquered anyone.

In [14]:
#Tokenizing words
words = nltk.word_tokenize(paragraph)
pd.DataFrame(words)[:5]

         0
0        I
1     have
2    three
3  visions
4      for

In [17]:
#Stemming
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
stemmer = PorterStemmer()

In [22]:
for i in range(len(sentences)): 
    words = nltk.word_tokenize(sentences[i])
    words = [stemmer.stem(word) for word in words if word not in set(stopwords.words('english'))]
    sentences[i] = ' '.join(words)
    
pd.DataFrame(sentences)[:5]

                                                   0
0                             I three vision india .
1  In 3000 year histori , peopl world come invad ...
2  alexand onward , greek , turk , mogul , portug...
3                                  yet done nation .
4                                 We conquer anyon .

In [26]:
#Lemmatization
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [27]:
sentences = nltk.sent_tokenize(paragraph)
Lemmatizer = WordNetLemmatizer()

for i in range(len(sentences)): 
    words = nltk.word_tokenize(sentences[i])
    words = [Lemmatizer.lemmatize(word) for word in words if word not in set(stopwords.words('english'))]
    sentences[i] = ' '.join(words)
    
pd.DataFrame(sentences)[:5]

                                                   0
0                             I three vision India .
1  In 3000 year history , people world come invad...
2  From Alexander onwards , Greeks , Turks , Mogu...
3                                  Yet done nation .
4                              We conquered anyone .

In [39]:
import re
corpus = []
for i in range(len(sentences)):
    review = re.sub('[^a-zA-Z]', ' ', sentences[i])
    review = review.lower()
    words = nltk.word_tokenize(review)
    review = [Lemmatizer.lemmatize(word) for word in words if not word in set(stopwords.words('english'))]
    review = ' '.join(review)
    corpus.append(review)
corpus[:5]

['three vision india',
 'year history people world come invaded u captured land conquered mind',
 'alexander onwards greek turk mogul portuguese british french dutch came looted u took',
 'yet done nation',
 'conquered anyone']

In [34]:
# Creating the Bag of Words model
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1500)
x = cv.fit_transform(corpus).toarray()

In [40]:
pd.DataFrame(x)[:5]

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,0,1,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
#TF/IDF
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer()
X = cv.fit_transform(corpus).toarray()

In [42]:
pd.DataFrame(X)[:5]

,0,1,2,3,4,5,6,7,8,9,...,104,105,106,107,108,109,110,111,112,113
0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.548305,0.0,0.0,0.0,0.000000,0.000000,0.000000
1,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.258835,0.305126,0.000000
2,0.0,0.288675,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.288675,...,0.288675,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
3,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.588643
4,0.0,0.000000,0.0,0.0,0.746061,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000

In [58]:
#word2vec
#to get more sementic info about the paragraph
import gensim

In [51]:
# Training the Word2Vec model
model = Word2Vec(sentences, min_count=2) 
# min_count 2 refers if any words lies less then 2 times then ignore it as unimportant, it works when we train a large volume of texts

In [ ]:
#dataset link: http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Cell_Phones_and_Accessories_5.json.gz

In [52]:
df = pd.read_json("Cell_Phones_and_Accessories_5.json", lines = True)

In [59]:
review_text = df.reviewText.apply(gensim.utils.simple_preprocess)

In [60]:
review_text

0         [they, look, good, and, stick, good, just, don...
1         [these, stickers, work, like, the, review, say...
2         [these, are, awesome, and, make, my, phone, lo...
3         [item, arrived, in, great, time, and, was, in,...
4         [awesome, stays, on, and, looks, great, can, b...
                                ...
194434    [works, great, just, like, my, original, one, ...
194435    [great, product, great, packaging, high, quali...
194436    [this, is, great, cable, just, as, good, as, t...
194437    [really, like, it, becasue, it, works, well, w...
194438    [product, as, described, have, wasted, lot, of...
Name: reviewText, Length: 194439, dtype: object

In [61]:
model = gensim.models.Word2Vec(
    window=10,
    min_count=2,
    workers=4,
)

In [63]:
model.build_vocab(review_text, progress_per=1000)

In [64]:
model.train(review_text, total_examples=model.corpus_count, epochs=model.epochs)

(61501715, 83868975)

In [65]:
model.save("./word2vec-amazon-cell-accessories-reviews-short.model")

In [66]:
model.wv.similarity(w1="great", w2="good")

0.78130215

In [ ]:
#Took help from krish Naik and codeba